<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Nerds Play PnP Overview">
    <meta name="keywords" content="Dnd, PnP, Nerds play PnP">
    <meta name="author" content="Julian Hildebrandt">
    <meta name="title" content="Nerds Play PnP">
    <!-- Einbinden von eigener Javascript Datei. eigener Css Datei und von fontawesome -->
    <script src="home.js"></script>
    <script src="https://kit.fontawesome.com/918efec30c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/base.css">

    <!--Festlegung des Fonts für den body; Einfügen von Padding für  -->
    <style>
        body {
            font-family: Roboto;
            line-height: 1.45;
        }
    </style>

    <title>Nerds Play PnP</title>
</head>
<body>

<!--  Navbar mit Icons  -->
<header class="header_nav">
    <div class="container">
        <img class="logo-image" alt="" src="dice-anim-fix.gif"/>
        <nav class="topnav" id="myTopnav">
            <ul class="test">
                <li>
                    <a href="./" class="item">
                        <i class="fas fa-table"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="./campaigns" class="item">
                        <i class="fas fa-cogs"></i>
                        Campaigns
                    </a>
                </li>
                <li>
                    <a href="/" class="item">
                        <i class="fas fa-save"></i>
                        Impressum
                    </a>
                </li>
                <li>
                    <a href="/" class="item">
                        <i class="fas fa-print"></i>
                        Placeholder
                    </a>
                </li>
                <li>
                    <a href="/" class="item">
                        <i class="fab fa-node"></i>
                        Placeholder
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="icon" onclick="topnavcollapse()">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main class="container">
    {% block content %} {% endblock %}
</main>
<footer class="container">
    <div class="leftfooter">

    </div>
    <div class="rightfooter">

        <p>This solution has been created for<br>Nerds Play PnP</p>
    </div>
</footer>


</body>
</html>