{% extends 'base.html' %}

{% block content %}
<h2>DM - Mentor Programm</h2>
            <section class="Blocktext">
                <b>The first Steps can be very scary</b>, especially if you have no idea where to start or where to get your information. Sign up for the mentor programm and an experienced Gamemaster will become your Mentor, they will provide materials or books and help you build your first Oneshot/Campaign.
                They will also help you plan your event and, if so desired, will even join as a player in your first Session.
                <br>
                <b>Information from the Players:</b>
                <br>
                Ruleset
                <br>
                What kind of Event are they planning (Campaign, Oneshot, no idea)
                <br>
                When they have time?
            </section>
        {% if current_user.is_authenticated and current_user.is_dm() %}^

        <h2>DM Mentor - Open Programms</h2>
        <section class="Blocktext">
            Wanna add a Ruleset for Trainees to select?
        </section>
        <form method="POST" action="/newRuleset">
            <div class="field">
                <div class="control">
                    <label for="ruleset">What ruleset do you want to add?</label>
                    <input class="input is-large" type="text" id="ruleset" name="ruleset" placeholder="Some Ruleset" autofocus="" required>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Submit Ruleset</button>
        </form>
        <table class="table">
            <tbody>
        {% for programm in openProgramms %}
              <tr>
            <form action="/takeOnTrainee/{{ programm['id'] }}" method="post">
              <th scope="row">ID: </th>
                <td name = 'Id'>{{ programm['id'] }}</td>
              </tr>
              <tr>
                <th scope="row">Trainee: </th>
                  <td name = 'studentId'>{{ programm['studentId'] }}</td>
                </tr>
                <tr>
            <th scope="row">Ruleset: </th>
                <td>{{ programm['ruleset'] }}</td>
            </tr>
            <tr>
            <th scope="row">Description: </th>
                <td>{{ programm['description'] }}</td>
            </tr>
            <tr>
                <th scope="row">Format: </th>
                    <td>{{ programm['format'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Language: </th>
                        <td>{{ programm['language'] }}</td>
                    </tr>
                <tr>
                <tr>
                    <td>
                        <button type="submit">Mentor this Trainee</button>
                    </td>
            </form>
                </tr>    
       
        {% endfor %}
    </tbody>
</table>
<h2>DM Mentor - Your Programms</h2>
<table class="table">
    <tbody>
        {% for programm in mentoredProgramms %}
        <form action="/leaveTrainee/{{ programm['id'] }}" method="post">
              <tr>
              <th scope="row">ID: </th>
                <td name = 'Id'>{{ programm['id'] }}</td>
              </tr>
              <tr>
                <th scope="row">Trainee: </th>
                  <td name = 'studentId'>{{ programm['studentId'] }}</td>
                </tr>
                <tr>
            <th scope="row">Ruleset: </th>
                <td>{{ programm['ruleset'] }}</td>
            </tr>
            <tr>
            <th scope="row">Description: </th>
                <td>{{ programm['description'] }}</td>
            </tr>
            <tr>
                <th scope="row">Format: </th>
                    <td>{{ programm['format'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Language: </th>
                        <td>{{ programm['language'] }}</td>
                    </tr>
                <tr>
                    <td>
                        <button type="submit">Free this Soul</button>
                    </td>
                </form>
                </tr>    

        {% endfor %}
    </tbody>
</table>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <section class="Blocktext">
            You need to sign up to partake in the Mentor Programm.
        </section>
        {% endif %}
        {% if current_user.is_authenticated %}
        <div class="mentorFormTrainee"> 
            <form action="/mentorPlayer" method="post"> 
            <label for="ruleset">What Ruleset do you want to use/learn?</label>
            <br>
            <select name="ruleset" id="ruleset">
            {% for ruleset in rulesets %}
            <option value="{{ruleset['ruleset']}}">{{ruleset["ruleset"]}}</option>
            {% endfor %}
            </select>
            <br>
            <label for="format">What kind of Format did you have in mind?</label>
            <br>
            <select name="format" id="format">
            <option value="Oneshot">Oneshot</option>
            <option value="Short Campaign">Short Campaign</option>
            <option value="Longer Campaign">Longer Campaign</option>
            </select>
            <br>
            <label for="format">What is the language you want to use for planning and general communication?</label>
            <br>
            <select name="language" id="language">
                <option value="Deutsch">Deutsch</option>
                <option value="English">English</option>
            </select>
            <br>
            <label for="description">What do you want to play? whats your Experience?</label>
            <br>
            <textarea class="description" id="description">

            </textarea>
            <br>
            <button type="submit">Sign up as Trainee</button> 
        </form>
        </div>
        {% endif %}
{% endblock %}
