{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{user['name']}} !
</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification">
  {{ messages[0] }}. 
</div>
{% endif %}
{% endwith %}
<div class='profile'>
  <h2>Your Personal Information</h2></th>
    <table class="table">
      <tbody>
        <tr>
            <th style ="width : 15%" scope="row">User ID</th>
            <td>{{ user['id'] }}</td>
          </tr>
          {% if changeName %}
          <tr>
            <th style ="width : 15%" scope="row">New Username:</th>
            <form action="/changeName" method="post">
            <td>
              <input name="newName" type="text" placeholder = "{{ user['name'] }}" autofocus="" required>
            </td>
              <td>
                <button type="submit">change Name</button>  
            </td>
          </form>
          <td>
          <form action="/profile" method="get">
              <button type="submit">cancel</button> 
          </form> 
          </td>
          </tr>
          {% endif %}
          {% if not changeName %}
          <tr>
            <th style ="width : 15%" scope="row">Username</th>
            <td>{{ user['name'] }}</td>
            <form action="/changeName" method="get">
              <td>
                <button type="submit">change Name</button>  
            </td>
          </form>
          </tr>
          {% endif %}
          {% if changePassword %}
          <tr>
            <th style ="width : 15%" scope="row">New Password</th>
            <form action="/changePassword" method="post">
            <td>
              <label for ="oldPassword"> confirm old Password</label>
              <input name="oldPassword" type="password" placeholder = "*****" autofocus="" required></td>
            <td>
              <label for ="newPassword"> Set new Password</label>
              <input name="newPassword" type="password" placeholder = "*****" required></td>
                <td>
                  <button type="submit">change Password</button>              
              </td>
            </form>
            <td>
              <form action="/profile" method="get">
                  <button type="submit">cancel</button> 
              </form> 
            </td>
          </tr>
          <tr>
          {% endif %}
          {% if not changePassword %}
          <tr>
            <th style ="width : 15%" scope="row">Password</th>
            <form action="/changePassword" method="get">
            <td>*****</td>
              
                <td>
                  <button type="submit">change Password</button>              
              </td>
            </form>
          </tr>
          {% endif %}
          {% if changeEmail %}
          <tr>
            <th style ="width : 15%" scope="row">New Email</th>
              <form action="/changeEmail" method="post">
              <td>
                <input class="input is-large" type="email" name="email" placeholder="{{ user['email'] }}" autofocus="" required>
              </td>
              <td>
                <button type="submit">change Email</button>  
            </td>
          </form>
          <td>
          <form action="/profile" method="get">
              <button type="submit">cancel</button> 
          </form> 
          </td>
          </tr>
          {% endif %}
          {% if not changeEmail %}
          <tr>
            <th style ="width : 15%" scope="row">Email</th>
            <td>{{ user['email'] }}</td>
          
          <form action="/changeEmail" method="get">
            <td>
              <button type="submit">change Email</button>  
          </td>
        </form>
      </tr>
      {% endif %}
    
          <tr>
            <th style ="width : 15%" scope="row">Access-Level</th>
            <td>{{ user['access'] }}</td>
        </tr>
        <tr>
          <th style ="width : 15%" scope="row">Player in:</th>
          <td>{{ campaign_names_player }}</td>
      </tr>
      <tr>
        <th style ="width : 15%" scope="row">Gamemaster of:</th>
        <td>{{ campaign_names_master }}</td>
    </tr>
      </tbody>
    </table>
  {% if not deleteAccount %}
    <form action="/deleteAccount" method="get">
        <button type="submit">delete your Account?</button>  
  </form>
    {% endif %}
    {% if deleteAccount %}
    <form action="/deleteAccount" method="post">
        <label for ="password"> Confirm Password to delete Account</label>
        <input name="password" type="password" placeholder = "*****" required>
        <button type="submit">delete your Account</button>  
  </form>
  <form action="/profile" method="get">
    <button type="submit">cancel</button> 
</form> 
{% endif %}
  </div>
{% endblock %}